<B>Variable declaration in Python

In [1]:
name= "RR"
age=48
height=168.6
is_student= True

print(name, age, height, is_student)

RR 48 168.6 True

In [4]:
print(type(is_student))

<class 'bool'>

<B> Arithmetic Operations

In [9]:
a=10
b=2

print(a/b)
print(a+b)
print(a%2)
print(a//b)
print(a-b)
print(a**b)

5.0
12
0
5
8
100

<B> Logical Operators

In [14]:
x=10
y=20

print(x==y)
print(x!=y )
print(x<y | x==y)
print(x>y)

False
True
False
False

In [15]:
a= input("Enter your name ")
print(a)

Enter your name Ruchira
Ruchira

In [18]:
age= 16

if age < 18:
    print("Not eligible to vote")
else:
    print("Eligible to vote")

Not eligible to vote

In [22]:
marks=87


if marks > 80 and marks < 90:
    print("A")
else:
    print("B")

A

In [34]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [40]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [49]:
count=0
for i in range(1,10,2):
    count+=1

    print(count)

5

In [53]:
fruits=["Apple","Orange","Guava","Grapes"]
for index,fruit in enumerate(fruits):
    if (index+1) % 2 == 0:
        print(fruit)

Orange
Grapes

## Let's try these patterns

In [4]:
#right triangle
row=5
for i in range(1, row+1):
    print("*"*i)

*
**
***
****
*****

In [7]:
row=5
for i in range(row,0,-1):
    print("*"*i)

*****
****
***
**
*

In [5]:
#right triangle
row=5
for i in range(0, row+1):
    print("*"*i)

*
**
***
****
*****

In [4]:
#inverted triangle

#right triangle
row=5
for i in range(row,0, -1):
    print("*"*i)

*****
****
***
**
*

In [5]:
rows = 5

for i in range(1, rows + 1):
    print("  " * (rows - i) + "* " * i)

        *
      * *
    * * *
  * * * *
* * * * *

In [9]:
row=5
for i in range(1, row+1):
    print(" " * (row - i) + "* " * i)

    *
   * *
  * * *
 * * * *
* * * * *

In [8]:
rows = 5

for i in range(1, rows + 1):
    line = " " * (rows - i)  # Spaces
    for num in range(1, i + 1):
        line += str(num) + " "
    print(line)

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [11]:
rows = 5

for i in range(1, rows + 1):
    line = " " *(rows - i)  # Spaces
    for num in range(1, i + 1):
        line += str(num) + " "
    print(line)

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [ ]:
5!
5 x 4 x 3 x 2 x 1
5 x 4! 
5 x 4 x 3!

## Functions

In [15]:
def factorial(n):
    if n == 0 or n == 1:  # Base Case
        return 1
    return n * factorial(n - 1)  # Recursive Call

print(factorial(3))

6

In [10]:
def fibonacci(n):
    if n == 0:  # Base Case
        return 0
    elif n == 1:
        return 1
    return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(6))  # Output: 8

8

## Data Structures in Python

In [17]:
fruits = ["apple", "banana", "cherry","cherry"]
fruits.append("mango")
print(fruits)

['apple', 'banana', 'cherry', 'cherry', 'mango']

In [24]:
fruits[2]

'cherry'

In [12]:
point = (5, 10)
print("X:", point[0])

X: 5

In [25]:
student = {"name": "AA", "age": 25}
print(student["name"])
student["grade"] = "A"

AA

In [26]:
student

{'name': 'AA', 'age': 25, 'grade': 'A'}

### One Fun Use Case of Dictionaries

The two sum problem is when you have a list of integers and you input an integer and now you have to return the index of the two integets within the list whose sum is equal to the integer you input

- Example:
   There is a list [2,7,11,15] and the number 9 now I know 2+7 from the list gives 9 so I want to return 0,1 which is it's index

In [27]:
def two_sum(nums, target):
    n = len(nums)
    for i in range(n):
        for j in range(i + 1, n):
            if nums[i] + nums[j] == target:
                return [i, j]
    return None  # If no solution found

# Example Usage
nums = [2, 7, 11, 15]
target = 9
print(two_sum(nums, target))

[0, 1]

In [15]:
def two_sum(nums, target):
    lookup = {}
    for i, num in enumerate(nums):
        if target - num in lookup:
            return [lookup[target - num], i]
        lookup[num] = i
        
        
print(two_sum([2, 7, 11, 15], 9))

[0, 1]

## String Operation!!

In [17]:
# Original String
text = "   Hello World! Welcome to Python.  "
print("Original Text:", repr(text))
print()

# Length & Indexing
print("Length:", len(text))
print("First character:", text[0])
print("Substring (1:5):", text[1:5])
print()

# Case Conversion
print("Lowercase:", text.lower())
print("Uppercase:", text.upper())

print("Swapcase:", text.swapcase())
print()

# Searching & Replacing
print("Find 'World':", text.find('World'))
print("Count 'o':", text.count('o'))
print("Replace 'World' with 'Ruchira':", text.replace('World', 'Ruchira'))
print()

# Strip & Padding
print("Strip Spaces:", text.strip())
print("Left Strip:", text.lstrip())
print("Right Strip:", text.rstrip())
print("Zfill (width 30):", text.strip().zfill(30))
print("Left Justified (width 30):", text.strip().ljust(30, '-'))
print("Right Justified (width 30):", text.strip().rjust(30, '-'))
print("Centered (width 30):", text.strip().center(30, '*'))
print()

# Splitting & Joining
words = text.strip().split()
print("Split into Words:", words)
print("Join with '-':", '-'.join(words))
print()

# Validation Methods
check_str = "Python123"
print("Is Alpha:", check_str.isalpha())
print("Is Digit:", check_str.isdigit())
print("Is Alnum:", check_str.isalnum())
print("Is Lower:", check_str.islower())
print("Is Upper:", check_str.isupper())
print("Is Space Only:", "   ".isspace())
print()

# Startswith & Endswith
print("Starts with 'Hello':", text.strip().startswith('Hello'))
print("Ends with 'Python.':", text.strip().endswith('Python.'))
print()

Original Text: '   Hello World! Welcome to Python.  '

Length: 36
First character:
Substring (1:5):   He

Lowercase:    hello world! welcome to python.
Uppercase:    HELLO WORLD! WELCOME TO PYTHON.
Swapcase:    hELLO wORLD! wELCOME TO pYTHON.

Find 'World': 9
Count 'o': 5
Replace 'World' with 'Ruchira':    Hello Ruchira! Welcome to Python.

Strip Spaces: Hello World! Welcome to Python.
Left Strip: Hello World! Welcome to Python.
Right Strip:    Hello World! Welcome to Python.
Zfill (width 30): Hello World! Welcome to Python.
Left Justified (width 30): Hello World! Welcome to Python.
Right Justified (width 30): Hello World! Welcome to Python.
Centered (width 30): Hello World! Welcome to Python.

Split into Words: ['Hello', 'World!', 'Welcome', 'to', 'Python.']
Join with '-': Hello-World!-Welcome-to-Python.

Is Alpha: False
Is Digit: False
Is Alnum: True
Is Lower: False
Is Upper: False
Is Space Only: True

Starts with 'Hello': True
Ends with 'Python.': True

In [4]:
# Splitting & Joining
text = "   Hello World! Welcome to Python.  "
words = text.split(' ')
print("Split into Words:", words)

Split into Words: ['', '', '', 'Hello', 'World!', 'Welcome', 'to', 'Python.', '', '']

In [5]:
# Splitting & Joining
text = "Hi!There"
words = text.split('!')
print("Split into Words:", words)

Split into Words: ['Hi', 'There']